JWT_SECRET=your-secret-key-here

DB_HOST=localhost
DB_PORT=5434
DB_USER=cloud_user
DB_PASSWORD=cloud_pass
DB_NAME=cloud_db
DATABASE_URL="postgresql://cloud_user:cloud_pass@localhost:5434/cloud_db?schema=public"
