# Dependencies
node_modules/

# Build output
dist/
.next/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# NestJS
.nest/
backend/generated/prisma

# Next.js
frontend/.next/
frontend/out/
